@import '../scss/partials/variables';
@import '../scss/partials/mixin';
@import '../scss/global';

body {
    height: 10000px;
    @include Font;
}

//header start
header {
    a {
        color: $colorWhite;
    }

    #top-bar {
        background-color: $mainColor;
        height: 60px;

        .center {
            padding-top: 10px;
            color: $colorWhite;
            font-size: $mainFontSize;

            .phone-icon {
                margin: 0 10px;
                cursor: pointer;
            }

            .right-bar {
                justify-content: space-around;

                .menu {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    cursor: pointer;
                }

                .socials {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
    }

    #nav-area {
        padding-top: 20px;

        .right-area {
            display: flex;
            align-items: center;
            justify-content: center;

            .list {
                display: flex;
                align-items: center;
                justify-content: center;

                .text {
                    text-transform: uppercase;
                    font-size: $mainFontSize;
                    border-bottom: 1px solid transparent;
                    transition: all .4s;
                    color: $mainColor;
                    cursor: pointer;

                    &:hover {
                        border-bottom: 2px solid $secondMainColor ;
                        color: $secondMainColor;
                    }
                }
            }
        }
    }
}

//header end

//main start
//slider area start
.slider-area {
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 90% !important;
            height: 500px !important;

            img {
                position: relative;
                display: block;
                width: 100%;
            }
        }

        .text-area {
            width: 50%;
            position: absolute;
            z-index: 999;
            top: 45%;
            left: 25%;
            color: $colorWhite;

            h1 {
                text-transform: uppercase;
            }
        }
    }



}

//slider area end

//banner area start
.banner-area {
    margin-top: 40px;

    .overlay {
        background-color: rgba(10, 104, 177, 0.8);
        opacity: 1;
        visibility: visible;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    .box-area {
        position: relative;

        img {
            width: 100%;
        }

        .text-area {
            position: absolute;
            top: 18%;
            left: 10%;
            color: $colorWhite;
            width: 75%;
            text-align: center;

            h3 {
                margin-left: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }

            p {
                font-size: 17px;
            }

            .advantage {
                font-size: 17px;
                padding-top: 0px !important;
            }
        }
    }

}

//banner area end

//course area start
.course-area {
    background-color: #F7F7F7;
    margin-top: 40px;
    padding: 40px 0;
    position: relative;

    .title {
        text-align: center;
        position: relative;

        h1 {
            color: #2f2f2f;
            font-weight: 700;
            font-size: 44px;
        }

        p {
            color: #5d5d5d;
            letter-spacing: 1.5px;
            text-transform: capitalize;
            padding-bottom: 25px;
        }

        &::after {
            bottom: -1px;
            color: rgb(231, 152, 0);
            content: "\f19d";
            font-size: 21px;
            height: 24px;
            left: 0px;
            position: absolute;
            right: 0px;
            text-align: center;
            width: 39px;
            z-index: 9;
            margin: 0px auto;
            background: none 0px 0px repeat scroll rgb(247, 247, 247);
        }

        &::before {
            background: #e79800 none repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 1px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            text-align: center;
            width: 109px;
        }
    }

    .css-0 {
        display: flex;
        justify-content: center;

        .MuiButtonBase-root {
            color: #5d5d5d;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 14px;
        }
    }

    .cart {
        transition: all .3s;

        .header {
            font-size: 20px;
            font-weight: bold;
        }

        .subtitle {
            font-size: 17px;
        }

        .text-area {
            p {
                font-size: 18px;
                color: #5d5d5d;
            }
        }
        &:hover{
            background-color: $mainColor;
            .text-area,p{
                color: $secondMainColor;
            }
            .subtitle{
                color: $colorWhite;
            }
        }
    }
}