@media (max-width:576px) {
    .center{
        text-align: center !important;
        font-size: 15px !important;
    }
}
@media (max-width:434px) {
    .center{
        text-align: center !important;
        font-size: 15px !important;
    }
}
